<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sumit.onnwayloader">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".networking.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Shipment">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".userprofile.ProfileActivity"
            />
        <activity
            android:name=".partload.PartLoadSpaceSelect"
             />
        <activity
            android:name=".materialtype.MaterialActivity"
             />
        <activity
            android:name=".userprofile.UserProfileActivity"
             />
        <activity
            android:name=".shippingaddress.ShippingAddress"
             />
        <activity
            android:name=".shipmentdetails.ShipmentActivity"
             />
        <activity
            android:name=".GettingStarted"
             />
        <activity
            android:name=".otp.EnterNumberActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".trucklist.GetMoreTruckDetails" />
        <activity android:name=".trucklist.AvailableTruckList" />
        <activity
            android:name=".addprofiledetails.FirstTimeProfileActivity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".otp.OtpActivity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".otp.NumberActivity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
             />

        <activity-alias
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:targetActivity=".splash.SplashActivity">

        </activity-alias>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDD5e-SJP_E8SDLOHYz79IR79pVy6YQOgg" />

        <activity
            android:name=".MainActivity"
             />

        <receiver android:name="swarajsaaj.smscodereader.receivers.OtpReader">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>